.header {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 7vh;
    margin-left: 14%;
    box-shadow: 0 0 5px rgb(94, 93, 93);
}

.header-title {
    font-weight: bold;
    font-size: 24px;
}
